#root {
  min-height: 100vh;
  background-color: #173f5f;
}

.tbot-image {
  width: 70px;
  height: 70px;
}

.custom-container {
  /*background-color: #173f5f;*/ /* Sötétkék háttérszín */
}

.text-white {
  color: white; /* Fehér szöveg */
}

.logout-image {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;  
  margin-top: 5px;
}

.navbar-text {
  margin-top: 5px;
}

.logout-image:hover {
  transform: scale(1.1);
}